<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\RSCS.FinancingStatements.API.exe" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
    <system.web>
        <identity impersonate="false" />
        <authentication mode="Windows" />
    </system.web>
</configuration>
<!--ProjectGuid: 576794eb-1110-4cbf-ab61-1b80b35e89c4-->