
@{
    Layout = null; // Remove the layout reference
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>GetFinPrograms - RSCS.FinancingStatements.Web</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/layout_css/main.css" rel="stylesheet" />
    <link href="~/css/layout_css/bootstrap.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <!-- <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> -->
</head>

<body>
    <div class="dashboard-image">
        <div class="row dashboard-wrapper">
            <div class="col-lg-6 col-md-12 logo-wrapper">
                <div class="logo-name-wrapper">
                    <img src="~/images/rscs-logo.png" alt="RSCS Logo"/>
                   @* <i>
                        <svg width="265" height="70" viewBox="0 0 265 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0.981964H28.0938C34.0889 0.981964 39.1949 1.7613 43.4121 3.31997C47.6293 4.87865 50.8335 7.18548 53.0248 10.2405C55.2574 13.2955 56.3737 17.0519 56.3737 21.5097C56.3737 25.0635 55.6915 28.1496 54.3272 30.7682C53.0041 33.3556 51.1023 35.5222 48.6216 37.2679C46.1822 39.0136 43.2261 40.3696 39.7531 41.336L34.7297 43.487H11.4732L11.4112 33.0595H27.7217C30.4092 33.0595 32.6418 32.6074 34.4196 31.7034C36.2388 30.7994 37.5825 29.5524 38.4507 27.9626C39.3603 26.3416 39.8151 24.4868 39.8151 22.3981C39.8151 20.1225 39.4017 18.1741 38.5748 16.5531C37.7892 14.9009 36.5282 13.6384 34.7917 12.7655C33.0966 11.8927 30.864 11.4562 28.0938 11.4562H16.6206V69.0648H0V0.981964ZM41.5516 69.0648L24.6209 38.5772H42.0477L59.2886 68.4102V69.0648H41.5516Z"
                                  fill="white" />
                            <path d="M108.158 51.3427C108.158 50.0022 107.972 48.8176 107.6 47.7889C107.269 46.729 106.608 45.7626 105.615 44.8898C104.623 44.0169 103.197 43.1597 101.336 42.318C99.4758 41.4451 97.0778 40.5567 94.1423 39.6526C90.6693 38.5927 87.3824 37.4705 84.2815 36.2859C81.1807 35.0701 78.4106 33.6673 75.9712 32.0775C73.5319 30.4876 71.6093 28.6172 70.2036 26.4663C68.8392 24.3153 68.157 21.8058 68.157 18.9379C68.157 16.1323 68.8185 13.576 70.1416 11.2692C71.506 8.9312 73.4285 6.93609 75.9092 5.2839C78.3899 3.60053 81.3254 2.30684 84.7157 1.40281C88.1473 0.498775 91.9303 0.0467602 96.0648 0.0467602C101.894 0.0467602 106.897 0.966377 111.073 2.80561C115.249 4.64485 118.474 7.13872 120.748 10.2872C123.022 13.4358 124.159 16.9895 124.159 20.9486H107.6C107.6 18.8911 107.187 17.0675 106.36 15.4776C105.574 13.8566 104.313 12.5941 102.577 11.69C100.84 10.786 98.6075 10.334 95.8788 10.334C93.3154 10.334 91.2068 10.7237 89.553 11.503C87.8992 12.2512 86.6795 13.2799 85.894 14.5892C85.1084 15.8673 84.7157 17.3324 84.7157 18.9846C84.7157 20.1692 85.0671 21.2447 85.7699 22.2111C86.5142 23.1463 87.5271 24.0036 88.8088 24.7829C90.0905 25.5622 91.6409 26.3104 93.4601 27.0274C95.3206 27.7132 97.3879 28.3834 99.6618 29.0381C103.838 30.2227 107.497 31.532 110.639 32.9659C113.781 34.3687 116.386 35.9586 118.453 37.7355C120.562 39.4812 122.133 41.4607 123.166 43.674C124.2 45.8873 124.717 48.4124 124.717 51.2492C124.717 54.0548 124.076 56.611 122.794 58.9178C121.513 61.2247 119.652 63.2042 117.213 64.8564C114.773 66.5086 111.817 67.7867 108.344 68.6907C104.913 69.5636 101.088 70 96.871 70C92.8192 70 88.9535 69.5636 85.2738 68.6907C81.6355 67.7867 78.4106 66.4306 75.5991 64.6226C72.7877 62.8145 70.5757 60.5389 68.9633 57.7956C67.3508 55.0212 66.5446 51.7635 66.5446 48.0227H83.1032C83.1032 50.1113 83.4133 51.9194 84.0335 53.4469C84.6536 54.9432 85.5839 56.159 86.8242 57.0942C88.0646 57.9982 89.553 58.6684 91.2895 59.1049C93.026 59.5101 94.9899 59.7128 97.1811 59.7128C99.7859 59.7128 101.894 59.3543 103.507 58.6373C105.119 57.9203 106.298 56.9383 107.042 55.6914C107.786 54.4133 108.158 52.9637 108.158 51.3427Z"
                                  fill="white" />
                            <path d="M181.153 46.6199H197.711C197.422 51.6388 196.057 55.894 193.618 59.3854C191.22 62.8457 187.768 65.4798 183.261 67.2879C178.796 69.096 173.359 70 166.951 70C162.072 70 157.71 69.3609 153.865 68.0828C150.02 66.7735 146.754 64.8876 144.066 62.4249C141.42 59.9621 139.394 56.9383 137.989 53.3534C136.624 49.7373 135.942 45.6068 135.942 40.9619V29.1316C135.942 24.4868 136.665 20.3563 138.113 16.7401C139.56 13.124 141.627 10.069 144.314 7.57515C147.043 5.08127 150.351 3.19528 154.237 1.91717C158.123 0.639056 162.506 0 167.385 0C173.835 0 179.23 0.919617 183.571 2.75885C187.912 4.59809 191.261 7.29459 193.618 10.8484C195.975 14.371 197.36 18.6729 197.773 23.7542H181.215C181.049 20.4498 180.512 17.8312 179.602 15.8985C178.693 13.9345 177.266 12.5317 175.323 11.69C173.38 10.8484 170.734 10.4275 167.385 10.4275C164.78 10.4275 162.527 10.786 160.625 11.503C158.723 12.22 157.173 13.3422 155.974 14.8697C154.775 16.3661 153.886 18.2832 153.307 20.6212C152.728 22.9593 152.439 25.7649 152.439 29.0381V40.9619C152.439 44.1104 152.687 46.8537 153.183 49.1917C153.679 51.5297 154.464 53.4781 155.539 55.0367C156.656 56.5642 158.144 57.7177 160.005 58.497C161.865 59.2452 164.181 59.6192 166.951 59.6192C170.3 59.6192 172.966 59.2452 174.951 58.497C176.935 57.7177 178.403 56.3928 179.354 54.5224C180.346 52.6208 180.946 49.9866 181.153 46.6199Z"
                                  fill="white" />
                            <path d="M248.441 51.3427C248.441 50.0022 248.255 48.8176 247.883 47.7889C247.552 46.729 246.891 45.7626 245.899 44.8898C244.906 44.0169 243.48 43.1597 241.619 42.318C239.759 41.4451 237.361 40.5567 234.425 39.6526C230.952 38.5927 227.666 37.4705 224.565 36.2859C221.464 35.0701 218.694 33.6673 216.254 32.0775C213.815 30.4876 211.892 28.6172 210.487 26.4663C209.122 24.3153 208.44 21.8058 208.44 18.9379C208.44 16.1323 209.102 13.576 210.425 11.2692C211.789 8.9312 213.712 6.93609 216.192 5.2839C218.673 3.60053 221.609 2.30684 224.999 1.40281C228.43 0.498775 232.214 0.0467602 236.348 0.0467602C242.178 0.0467602 247.18 0.966377 251.356 2.80561C255.532 4.64485 258.757 7.13872 261.031 10.2872C263.305 13.4358 264.442 16.9895 264.442 20.9486H247.883C247.883 18.8911 247.47 17.0675 246.643 15.4776C245.857 13.8566 244.596 12.5941 242.86 11.69C241.123 10.786 238.891 10.334 236.162 10.334C233.599 10.334 231.49 10.7237 229.836 11.503C228.182 12.2512 226.963 13.2799 226.177 14.5892C225.392 15.8673 224.999 17.3324 224.999 18.9846C224.999 20.1692 225.35 21.2447 226.053 22.2111C226.797 23.1463 227.81 24.0036 229.092 24.7829C230.374 25.5622 231.924 26.3104 233.743 27.0274C235.604 27.7132 237.671 28.3834 239.945 29.0381C244.121 30.2227 247.78 31.532 250.922 32.9659C254.064 34.3687 256.669 35.9586 258.736 37.7355C260.845 39.4812 262.416 41.4607 263.45 43.674C264.483 45.8873 265 48.4124 265 51.2492C265 54.0548 264.359 56.611 263.077 58.9178C261.796 61.2247 259.935 63.2042 257.496 64.8564C255.057 66.5086 252.1 67.7867 248.627 68.6907C245.196 69.5636 241.371 70 237.154 70C233.102 70 229.237 69.5636 225.557 68.6907C221.919 67.7867 218.694 66.4306 215.882 64.6226C213.071 62.8145 210.859 60.5389 209.246 57.7956C207.634 55.0212 206.828 51.7635 206.828 48.0227H223.386C223.386 50.1113 223.696 51.9194 224.317 53.4469C224.937 54.9432 225.867 56.159 227.107 57.0942C228.348 57.9982 229.836 58.6684 231.573 59.1049C233.309 59.5101 235.273 59.7128 237.464 59.7128C240.069 59.7128 242.178 59.3543 243.79 58.6373C245.403 57.9203 246.581 56.9383 247.325 55.6914C248.069 54.4133 248.441 52.9637 248.441 51.3427Z"
                                  fill="white" />
                        </svg>
                    </i>
                    <p class="b-after">Restaurant Supply chain solutions</p>
                    <p>A Yum! Brand co-op</p>*@
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="mc-wrapper">
                    <h2>MC Wrappers</h2>
                    <div class="icon-wrappers">
                        <a class="icon-box"asp-area="" asp-controller="Invoice" asp-action="GetFinPrograms">
                            <img src="~/images/logo-image.png" alt="Financing Statements" />
                            <h4>Financing Statements</h4>
                        </a>
                        <a class="icon-box" asp-area="" asp-controller="Invoice" asp-action="GetFinPrograms">
                            <img src="~/images/restraunt-master.png" alt="Restaurant Master">
                            <h4>Restaurant Master</h4>
                        </a>
                        <a class="icon-box" asp-area="" asp-controller="Invoice" asp-action="GetFinPrograms">
                            <img src="~/images/find-store.png" alt="Find a Store">
                            <h4>Find a Store</h4>
                        </a>
                        <a class="icon-box" href="#">
                            <img src="~/images/team-members.png" alt="Team Members">
                            <h4>Team Members</h4>
                        </a>
                        <a class="icon-box" href="#">
                            <img src="~/images/nav-security.png" alt="Nav Security">
                            <h4>Nav Security</h4>
                        </a>
                        <a class="icon-box" href="#">
                            <img src="~/images/scm-viewer.png" alt="SCM Viewer">
                            <h4>SCM Viewer</h4>
                        </a>
                        <a class="icon-box" href="#">
                            <img src="~/images/alerts.png" alt="Alerts">
                            <h4>Alerts</h4>
                        </a>
                        <a class="icon-box" href="#">
                            <img src="~/images/sourcing-fee.png" alt="Sourcing Fee">
                            <h4>Sourcing Fee</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
      document.getElementById("toggleWrapp").setAttribute("onclick", "closeNav()");
      document.getElementById("mySidenav").classList.add("menuOpen");
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "65px";
      document.getElementById("main").style.marginLeft = "65px";
      document.getElementById("toggleWrapp").setAttribute("onclick", "openNav()");
      document.getElementById("mySidenav").classList.remove("menuOpen");
    }
    </script>
</body>

</html>